<h1> LIST OF USERS </h1>
<ul>
    <%= link_to "Create a new user", "/users/new" %>
<br><br>
<% @users.each do |user| %>
<li>
<%= link_to user.name, user_path(id: user.id) %> - <%= user.email %> - <%= user.birthday %>  </li> 
<br>
<% end %>
</ul>
